<div class="row">
    <table>
        <tr>
            <td>
                <div *ngIf="dataAvailable" style="width:30%">
                    <h2>{{project.name}}
                        <button (click)="showReports()">Show reports</button></h2>

                </div>
            </td>
            <td>
                <md-list class="comments">
                    <md-list-item class="list-item" >
                        Project members:
                        <button class="but" (click)="openDialog()"><strong>+</strong></button>
                        <hr>
                    </md-list-item>
                    <md-list-item class="list-item" *ngFor="let member of members">
                        <img md-list-avatar src="../../images/admira.jpg">
                        <table style="overflow-y: auto;">
                            <tr>
                                <td>{{member.name}}</td>
                            </tr>
                        </table>
                    </md-list-item>
                </md-list>

            </td>
        </tr>
    </table>
</div>

<style>
    table {
        width: 100%;
    }

    div.row {
        margin: 10px 30px 0px 30px;
    }

    button.but {
        margin-right: 20px;
        right: 2px;
        position: absolute;
    }

    .comments {
        height:200px;
        width: 70%;
        overflow-y: auto;
        overflow-x:hidden;
    }
</style>
