<div class="row">
    <table>
        <tr>
            <td>
                <div *ngIf="dataAvailable" style="width:500px; text-align:center">
                    <h1>{{project.name}}</h1>
                    <h2> by</h2>
                    <h2><img *ngIf="owner.image" height="47" width="47" [src]="owner.image">{{owner.username}}</h2>
                    <button style="background-color: #95B5D6" (click)="showReports()"><h3 style="border-bottom:none !important">Show reports</h3></button>

                </div>
            </td>
            <td>
                <md-list class="comments">
                    <md-list-item class="list-item" style="border-bottom:none !important">
                        <h3> Project members:
                            <button class="add-task-button" (click)="addMember()">+</button>
                        </h3>
                    </md-list-item>
                    <md-list-item class="list-item" *ngFor="let member of members">
                        <img md-list-avatar   height="47" width="47" [src]="member.image">

                        <table style="overflow-y: auto;">
                            <tr>
                                <td>{{member.name}}</td>
                            </tr>
                        </table>
                    </md-list-item>
                </md-list>

            </td>
        </tr>
    </table>
</div>

<style>
    table {
        width: 100%;
    }

    div.row {
        width: 72%;
        margin: 10px auto 0 auto;
        background-color: #F2EFF5;
        border-radius: 3px;

    }

    button.but {
        margin-right: 20px;
        right: 2px;
        position: absolute;
    }

    .comments {
        width: 500px;
        overflow-y: auto;
        overflow-x: hidden;
       min-height:280px;
    }

    .add-task-button {
        float: right;
        background-color: #95B5D6;
    }

    img{
        margin: auto 20px;
    }

    h3 {
        margin: 8px 0px 0px 0;
        width: 100%;
        border-bottom: 1px solid black;
        padding-bottom: 10px;

    }
    .list-item{
        border-bottom:1px solid lightgray;
    }
</style>
