<div class="row">
    <h3><i class="fa fa-tasks" aria-hidden="true"></i> Personal boards</h3>
    <hr>
    <ul class="boards">
        <li class="board gray">
            <a href="#">
                <i class="fa fa-plus-square fa-3x" aria-hidden="true"></i>
            </a>
        </li>
        <li class="board">
            <a href="#">Project Name</a>
        </li>
        <li class="board">
            <a href="#">Project Name</a>
        </li>
        <li class="board">
            <a href="#">Project Name</a>
        </li>
        <li class="board">
            <a href="#">Project Name</a>
        </li>
    </ul>
</div>

<div class="row">
    <h3><i class="fa fa-tasks" aria-hidden="true"></i> Member boards</h3>
    <hr>
    <ul class="boards">
        <li class="board orange">
            <a href="#">Project Name</a>
        </li>
        <li class="board orange">
            <a href="#">Project Name</a>
        </li>
        <li class="board orange">
            <a href="#">Project Name</a>
        </li>
    </ul>
</div>