<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Task</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <dl class="dl-horizontal">
            <div style="padding:5px">
                <dt>Name:</dt>
                <dd>{{ $modal.data.name }}</dd>
            </div>
            <div style="padding:5px">
                <dt>Description:</dt>
                <dd>{{ $modal.data.description }}</dd>
            </div>
            <div style="padding:5px">
                <dt>Weight:</dt>
                <dd>{{ $modal.data.weight }}</dd>
            </div>
            <div style="padding:5px">
                <dt>Status:</dt>
                <dd>{{ $modal.data.taskStatus }}</dd>
            </div>
            <div style="padding:5px">
                <dt>Started:</dt>
                <dd>{{ $modal.data.startedOn | date:'yyyy-MM-dd HH:mm:ss' }}</dd>
            </div>
            <div style="padding:5px">
                <dt>End date:</dt>
                <dd>{{ $modal.data.endOn | date:'yyyy-MM-dd HH:mm:ss' }}</dd>
            </div>
            <div style="padding:5px">
                <dt>Finished:</dt>
                <dd>{{ $modal.data.finishedOn ? ($modal.data.finishedOn | date:'yyyy-MM-dd HH:mm:ss') : "/" }}</dd>
            </div>
        </dl>
    </div>
    <div class="row" style="padding-left: 15px;">
        <h3>Comments</h3>
        <hr>
        <div class="row">
            <div class="col-md-8">
                <input type="text" ng-model="$modal.data.new_comment" class="form-control" placeholder="Enter new comment">
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary" ng-click="$modal.insertComment()">Create</button>
            </div>
        </div>
        <hr>
        <div class="row comment" ng-repeat="comment in $modal.data.comments">
            <div class="col-md-2">{{ comment.username }}</div>
            <div class="col-md-7">{{ comment.content }}</div>
            <div class="col-md-3"><small style="float:right">{{ comment.createdOn | date:'yyyy-MM-dd hh:mm' }}</small></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="$modal.ok()">Delete</button>
    <button class="btn btn-warning" type="button" ng-click="$modal.cancel()">Cancel</button>
</div>