<h1 md-dialog-title>Add new project</h1>
<div md-dialog-content>
    <md-input-container class="example-full-width">
        <input mdInput tye="text" placeholder="Project name" [(ngModel)]="project.name"
               [ngModelOptions]="{standalone: true}"/>
    </md-input-container>
    <br>
    <md-input-container class="example-full-width">
        <input mdInput type="text" placeholder="Description" [(ngModel)]="project.description"
               [ngModelOptions]="{standalone: true}"/>
    </md-input-container>
    <br>
</div>
<div md-dialog-actions>
    <button md-button (click)="dialogRef.close('Cancel')">Cancel</button>
    <button md-button (click)="dialogRef.close(project)">Save</button>
</div>