<md-toolbar color="primary" class="toolbar">

    <span > Project Managment Tool</span>
   <span class="example-spacer"></span>
    <div >
        <a md-button routerLink="/projects" *ngIf="loggedIn()">Your profile
            <md-icon class="example-icon">folder_shared</md-icon>
        </a>
        <a md-button routerLink="/login" *ngIf="!loggedIn()">Login
            <md-icon class="example-icon">open_in_browser</md-icon>
        </a>
        <a md-button routerLink="/register" *ngIf="!loggedIn()">Register
            <md-icon class="example-icon">perm_identity</md-icon>
        </a>

        <a md-button routerLink="/logout" *ngIf="loggedIn()">Log out
            <md-icon class="example-icon">exit_to_app</md-icon>
        </a>
        <a md-button routerLink="/tasks" >Tasks
            <md-icon class="example-icon">exit_to_app</md-icon>
        </a>
    </div>

</md-toolbar>
<router-outlet></router-outlet>