<div layout="column" flex id="content" role="main">
<div layout="row" layout-align="center center">
	<p flex>{{errorMsg}}</p>
</div>
			<md-content layout="vertical" flex id="content">
				<div layout="row" layout-align="center center" layout-fill>
					<md-whiteframe class="md-whiteframe-z1" layout="row" flex="30" layout-padding>
						<md-content md-theme="docs-dark">
							<md-input-container>
								<label>Username</label>
								<input ng-model="user.username">
							</md-input-container>
							<md-input-container>
								<label>Password</label>
								<input ng-model="user.password" type="password">
							</md-input-container>
							<md-input-container layout-align="center center" flex>
									<md-button flex class="md-raised" flex="80" flex-sm="100" ng-click="submitLogin()">Login</md-button>
														<md-button class="md-raised md-primary" ui-sref="register" flex="50" flex-sm="100">Register</md-button>

							</md-input-container>
						</md-content>
					</md-whiteframe>
				</div>
			</md-content>
		</div>