<style>

    #wrap:after {
        display: block;
        height: 0px;
        clear: both;
        float: none;
    }

    #wrap div {
        float: left;
        word-break: break-all;
    }
    img{
        margin:auto 20px;
    }

    .container {
        min-height: 70vh;
        width: 16%;
        margin: 0 2% 2% 2%;
        background-color: #F2EFF5;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .cards {
        width: 80%;
        padding: 3% 10%;
    }

    h3 {
        margin: 8px 0px 0px 0;
        width: 100%;
        border-bottom: 1px solid black;
        padding-bottom: 10px;

    }

    .titles {
        width: 14%;
        margin: 2% 2% 0 2%;
        display: inline-block;
        background-color: #F2EFF5;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 5px 1%;
    }

    .add-task-button {
        float: right;
        background-color: #95B5D6;
    }
</style>


<div class='wrapper' style="width:75%; margin:auto;">
    <div class=" titles" *ngFor='let group of groups'>
        <h3>{{group.name}}
            <button class="add-task-button" (click)="addTask(group)">+</button>
        </h3>

    </div>
</div>


<div class='wrapper' id="wrap" style="width:75%; margin:auto">
    <div class='container' *ngFor='let group of groups' id="{{group.name}}" [dragula]='"nested-bag"'
         [dragulaModel]='group.items'>

        <div *ngFor='let item of group.items' class="cards" (mousedown)="onClick(item)">
            <md-card>
                <md-card-content>{{item.name}}</md-card-content>
                <md-card-actions style="border-top:1px solid grey">

                    <button style="padding:0 !important;" md-button (click)="seeDetails(item,group)">See details</button>
                    <button (click)="deleteTask(item)" style="padding:5px 5px">
                        <md-icon>delete</md-icon>
                    </button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>
