<md-card class="card">
    <form #f="ngForm" (ngSubmit)="onLogin()" class="form">
        <md-card-content>
            <md-card-header class="hedbot">
                <md-card-title><b>Login</b></md-card-title>
            </md-card-header>
            <md-input-container class="example-full-width">
                <input mdInput tye="text" placeholder="username" [(ngModel)]="credentials.username"
                       [ngModelOptions]="{standalone: true}"/>
            </md-input-container>
            <br>
            <md-input-container class="example-full-width">
                <input mdInput type="password" placeholder="password" [(ngModel)]="credentials.password"
                       [ngModelOptions]="{standalone: true}"/>
            </md-input-container>
        </md-card-content>
        <md-card-actions class="example-full-width">
            <span class="example-spacer"></span>
            <button md-raised-button type="submit" class="login-button">Login</button>
        </md-card-actions>
    </form>
</md-card>
    