<style>
    .example-full-width {
        width: 100%;
    }

    .input-comment {
        width: 90%;
        margin: 2px 5%;
    }

    .example-spacer {
        flex: 1 1 auto;
    }

    .reg-button {
        float: right;
        margin-right: 10px;
    }

    .comment-button {
        float: right;
        margin: 0 20px 0 0 !important;
    }

    .comments {
        width: 100%;
        height: 100px;
        overflow-y: hidden;
        margin: 0 0 3% 0;

    }
    .comments:hover {
        overflow-y: auto;
    }

    .comments-section {
        border: 1px solid lightgray;
        margin: 3% auto;
        padding: 0;
        width: 90%;
        height: 230px;

    }
    .list-item{
        border-bottom:1px solid lightgray;
    }

    .content {
        margin: 15px auto;
        padding:10px;
        width: 90%;
    }

    .wrap {
        width: 500px;
    }

</style>

<div class="wrap">
    <h1 md-dialog-title>Task details</h1>
    <div md-dialog-content class="content">
        <div>
            <p>Title: {{item.name}}</p>
        </div>
        <div>
            <p>Description: {{item.description}}</p>
        </div>
    </div>
    <div class="comments-section">
        <md-list class="comments">
            <md-list-item class="list-item" *ngFor="let comment of comments">
                <p>{{comment.content}}</p>
            </md-list-item>
        </md-list>
        <md-input-container class="input-comment">
            <input mdInput type="text" placeholder="Add comment" [(ngModel)]="comment.content" (keydown)="showButton()"
                   [ngModelOptions]="{standalone: true}"/>
        </md-input-container>
        <span class="example-spacer"></span>
        <button [disabled]="!showButtonVar" class="comment-button" md-button (click)="addComment()">Add comment</button>
    </div>
    <div md-dialog-actions class="example-full-width">
        <span class="example-spacer"></span>
        <button md-button (click)="dialogRef.close(comments)" class="reg-button">Close window</button>
    </div>
</div>