<md-card class="card">
    <form #f="ngForm" (ngSubmit)="onRegister(f.value)" class="form">
        <md-card-content >
            <md-card-header class="hedbot">
                <md-card-title><b>Register</b></md-card-title>
            </md-card-header>
            <md-input-container class="example-full-width">
                <input mdInput tye="text" placeholder="name" [(ngModel)]="userData.name"
                       [ngModelOptions]="{standalone: true}"/>
            </md-input-container>
            <br>
            <md-input-container class="example-full-width">
                <input mdInput type="text" placeholder="surname" [(ngModel)]="userData.surname"
                       [ngModelOptions]="{standalone: true}"/>
            </md-input-container>
            <br>
            <md-input-container class="example-full-width">
                <input mdInput type="email" placeholder="email" [(ngModel)]="userData.email"
                       [ngModelOptions]="{standalone: true}"/>
            </md-input-container>
            <br>
            <md-input-container class="example-full-width">
                <input mdInput type="text" placeholder="bio" [(ngModel)]="userData.bio"
                       [ngModelOptions]="{standalone: true}"/>
            </md-input-container>
            <br>
            <md-input-container class="example-full-width">
                <input mdInput type="username" placeholder="username" [(ngModel)]="userData.username"
                       [ngModelOptions]="{standalone: true}"/>
            </md-input-container>
            <br>
            <md-input-container class="example-full-width">
                <input mdInput type="password" placeholder="password" [(ngModel)]="userData.password"
                       [ngModelOptions]="{standalone: true}"/>
            </md-input-container>
        </md-card-content>
        <md-card-actions class="example-full-width">
            <span class="example-spacer"></span>
            <button md-raised-button type="submit" class="register-button">Register</button>
        </md-card-actions>
    </form>
</md-card>
    